body {
    margin: 0px;
    padding: 0px;
    background-color: Gainsboro;
    font-family: 'Slabo 27px', serif;
}

.mainTitle{
    background-color: white;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
}

#container{
    width: 800px;
     margin:20px auto;
     /*background-color: white;*/
     /*padding: 50px;*/
}



.header_article{
    width: 800px;
    display: flex;

}

.titleBox{
    width: 50%;
    float:left;
    /*background-color: blue;*/
    text-align: left;
    padding: 5px;
}

.dateBox{
    width: 50%;
    float: right;
    /*background-color: gray;*/
    text-align: right;
    padding: 20px;
}

/*.titleBox {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    padding: 0 10px;*/
/*    border: 1px black solid;*/
/*}*/

/*.dateBox{*/
/*    align-self:center;*/
/*}*/


.post{
    margin-bottom: 20px;
    background-color: white;
    width: 800px;
}

.picBox{
    border-bottom: 1px;
    border-top: 1px;
    width: 800px;
    border: 80px;
    /*padding: 20px;*/
}

.picBox img{
    width: 800px;
}

.commentBox{
    font-size: larger;
    font-family: Helvetica;
    padding: 5px 20px;
    /*border:3px solid:gray;*/
    /*padding-left: 5px;*/
}

